node_modules
coverage
*.log*
.cache
.output
.env
dist
.DS_Store
.idea
.eslintcache
**/.DS_Store
**/node_modules

# Ignore build directories
packages/forms/umd/*
packages/themes/umd/*
packages/themes/tokens/*
