[submodule "submodules/primevue"]
	path = submodules/primevue
	url = https://github.com/primefaces/primevue.git
[submodule "submodules/primeng"]
	path = submodules/primeng
	url = https://github.com/primefaces/primeng.git
[submodule "submodules/primereact"]
	path = submodules/primereact
	url = https://github.com/primefaces/primereact.git
	branch = v11
