[submodule "submodules/primevue-nextchapter"]
	path = submodules/primevue-nextchapter
	url = https://github.com/primefaces/primevue-nextchapter.git
[submodule "submodules/primeng-nextchapter"]
	path = submodules/primeng-nextchapter
	url = https://github.com/primefaces/primeng-nextchapter.git
[submodule "submodules/primereact-nextchapter"]
	path = submodules/primereact-nextchapter
	url = https://github.com/primefaces/primereact-nextchapter.git
